@mixin d-flex-center {
  display: flex;
  justify-content: center;
}

@mixin layout-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5vw 7vw; 
}

@mixin check {
  background-color: $tertiary-color;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 0%;
          margin-left:-10%;
          
}

@mixin button {
  border: none;
  background: linear-gradient(349deg, $primary-color, $secondary-color);
  border-radius: 30px;
  color: white;
}