// object general for reuse 
@mixin d-flex-center {
  display: flex;
  justify-content: center;
}

// general layout for section
@mixin layout-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 5vw; 
}

// check genreal display 
@mixin check {
  background-color: $tertiary-color;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 0%;
          margin-left:-10%;
          
}

// button general display 
@mixin button {
  border: none;
  background: $primary-gradiente;
  border-radius: 30px;
  color: white;
}

// to hide text and replace by "..." 
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}