@mixin d-flex-center {
  display: flex;
  justify-content: center;
}

@mixin layout-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 5vw; 
}

@mixin check {
  background-color: $tertiary-color;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 0%;
          margin-left:-10%;
          
}

@mixin button {
  border: none;
  background: $primary-gradiente;
  border-radius: 30px;
  color: white;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}