$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color-grey-light: rgb(247, 247, 247);
$bg-color-grey-dark: rgb(237, 237, 237);
$primary-gradiente: linear-gradient(349deg, $primary-color, $secondary-color);