.howorking{
  @include layout-section;
  &__div{
    display: flex;
    align-items: center;
    margin: 3vw;
    background-color: $bg-color-grey-dark;
    border-radius: 20px;
    &__span{
      font-size: .8rem;
      padding: 2vw 3vw;
      border-radius: 50%;
      background-color: $primary-color;
      margin-left: -4vw;
      color: white;
    }
    &__i{
      margin: 8vw 5vw;
    }
    &__p{
      font-weight: 600;
    }
  }
}