@media screen and ( min-device-width: 1024px) {
  
  .header{
    &__a{
      position: absolute;
      left: 5%;
      transform: translateY(160%);
    }
  
  }
  
 h4{
    @include ellipsis;
  }

.restaurant__head__img{
  height: 35vw;
}
.menuRestaurant{
  flex-wrap: wrap;
  flex-direction: row;
}


.box{
  width: 30%;
  &__layout > p{
    width: 15%;
  }
}

.imgtop{
  height: 60%;
}

.nameRestaurant{
  flex-basis: 100%;
  &> h2{
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
  }
}


.order{
  display: flex;
  flex-basis: 100%;
  &>button{
    margin: auto
  };
}



}