.imgtop{
  height: 60%;
  &__img{
    width: 100%;
    object-fit: cover;
    height: 50vw;
  }
}
  .menuRestaurant{
  @include layout-section;
  padding-top: 0;
  border-radius: 40px 40px 0 0 ;
  background-color: $bg-color-grey-light;
  position: relative;
  top: -55px;
}


ul{
  padding: 0;
  margin-bottom: 30px;
}

p{
  font-size: 0.8em;
}

.header{
  &__a{
    position: absolute;
    left: 5%;
    transform: translateY(160%);
  }

}



.nameRestaurant{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 4vw 15px;
  &> h2{
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: x-large;
  }
}

.box{

  @for $i from 1 through 4 {
    &__layout:nth-child(#{$i}) {
      @if (#{$i} == "1"){
        animation: fadein #{$i}s linear $i - 0.3 + s both;
      } @else {
        animation: fadein $i - 0.5*$i + s linear $i - 0.5*$i + s both;
      }
    }
}
  

// @for $i from 1 through 4 {
//     &__layout:nth-child(#{$i}) {
//       animation: fadein #{$i}s linear $i - 1 + s both;
//     }
// }

  &__layout{

    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: $box-shadow;
    
    &>p{
      display: flex;
      align-items: flex-end;
      width: 10%;
    }
    &__description{
      width: 80%;
      padding: 0.4em;
      &>p{
        @include ellipsis;
        margin: 0 0 0.5em 0.5em;
      }
    }
        &__check{
         @include check;
         display: flex;
         
        }
        &__check:active{
          animation-duration: 2500ms;
          animation-name: checkslide;
          animation-timing-function: linear;
          transform-origin: center right;
        
        }

    }
    
}

.check2{
  @include check;
}

.box__layout:hover{
  .box__layout__description{
      animation: textoverflow linear 500ms both;
    }
  .check2{
          animation-duration: 500ms;
          animation-name: checkslide;
          animation-timing-function: linear;
          transform-origin: center right;
          animation-fill-mode: both;
          &>i{
            animation-name: rotation-180;
            animation-duration: 1000ms;
            animation-timing-function: cubic-bezier(0, 0, 0.63, 1.04);
          }
  }
  
}

.order{
  margin: 20px auto;
  // &>button{
  //   // width: 100%;
  // };
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100%{
    opacity: 1;
    margin-top: 0px;
    
  }
}

@keyframes textoverflow {
  0% {
  }
  100% {
    width: 65%;
  }
}

@keyframes checkslide {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    width: 20%;
    margin-left: 0%;
    
  }
}

@keyframes rotation-180 {
  0% {
    transform: rotate(-180deg);
  } 

  100%{
    transform: rotate(0deg);
  }
  
}































canvas{
  height: 3px;
  width: 12%;
  background-color: $tertiary-color;
}

h4{
  @include ellipsis;
  margin: 0.5em 0 0.5em 0.5em;
  font-weight: bolder;
}