@media screen and (min-device-width : 1024px ){
.restaurants{
  flex-direction: row;
  flex-wrap: wrap;
  &>h2{
    display: flex;
    flex-basis: 100%;
  }
    &__card{
      width: 20vw;
      height: auto;
      &__img{
        height: 20vw;
      }
        &__new{
          padding: 1vw;
          left: auto;
          
        }
        
    }
}
}

@media screen and (min-device-width : 1024px ) and ( max-device-width : 1340px) {
  .restaurants{
    &__card{
      &__new{
        margin: 1% 0% 1% 10%;
      }
    }
  }
}

@media screen and (min-device-width : 1341px ) {
  .restaurants{
    &__card{
      &__new{
        margin: 1% 0% 1% 12%;
      }
    }
  }
}


