.restaurants{
  // animation : name | animation-duration | animation-timing-function | animation-iteration-count | animation-fill-mode;
  animation: display 3s linear 1 both;
  @include layout-section;
  background-color: $bg-color-grey-light;
    &__card{
      border-radius: 15px;
      overflow: hidden;
      -webkit-box-shadow: 1px 2px 17px -3px #a1a1a1; 
      box-shadow: 1px 2px 17px -3px #a1a1a1;
      margin: 0 0 20px;
        &__new{
          position: absolute;
          display: flex;
          justify-items: end ;
          align-items: center;
          background-color: #99E2D0;
          color: $dark-tertiary-color;
          margin: 5%;
          padding: 2vw 3vw;
          height: 10px;
          left: 63%;
          & p{
            font-weight: bolder;
            font-size: larger;
          }
        }
        &__img{
          width: 100%;
          object-fit: cover;
          height: 45vw;

        }
        &__footer{
          display: flex;
          justify-content: space-between;
          line-height: 0.7em;
          margin: 5%;
          &__description>p{
            margin-bottom: 0 ;
          }
          &__heart{
            height: auto ;
          }
        }
    }
}