.search{
  @include d-flex-center;
  flex-direction: column;
  align-content: center;
  // text-align: center;
  background-color: $bg-color-grey-dark ;
    &__form{
      @include d-flex-center;
      padding: 3vw;
      &>input{
        background-color: transparent;
        border: none;
        width: 35%;
      }
      &>i{
        margin: 0 3vw;
      }
    }
    &__discover{
      background-color: $bg-color-grey-light;
      text-align: center;
      padding: 50px 3vw;
      > h2{
      margin-top: 0;
    }
    > p{
      font-size: 1em;
    }
    
  }
  
  animation: display 3s linear 1 both;
  }

  ::placeholder{
    font-weight: bold;
    color: black;
  }
